{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <header>
            <h1>Scheduler</h1>
        </header>
        <section>
            <form action="/submited.html">

                <input type="date" class="date">

                <ul>
                        <li>
                            <h5>Druid</h5>
                            <input type="radio" id="Druid" class="iosButton" name="vocation">
                            <label for="Druid" class="iosLabel"></label>
                        </li>
                        <li>
                            <h5>Knight</h5>
                            <input type="radio" id="Knight" class="iosButton" name="vocation">
                            <label for="Knight" class="iosLabel"></label>
                        </li>
                        <li>
                            <h5>Paladin</h5>
                            <input type="radio" id="Paladin" class="iosButton" name="vocation">
                            <label for="Paladin" class="iosLabel"></label>
                        </li>
                        <li>
                            <h5>Sorcerer</h5>
                            <input type="radio" id="Sorcerer" class="iosButton" name="vocation">
                            <label for="Sorcerer" class="iosLabel"></label>
                        </li>
                    </ul>
                <button type="submit">Submit</button>
            </form>
        </section>
    </div>

{% endblock %}